/* 
    Document   : mobmin.css
    Created on : Mar 6, 2011, 8:42:01 PM
    Author     : w0ndr
    Description:
        Purpose of the stylesheet follows.
*/

/* 
   TODO customize this sample style
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/
/*
root { 
    display: block;
}

body {
    font-size: 14px;
    font-family: sans-serif;
    font-weight: bold;
    color: #FFFFFF;
}

ul li span {
    display: block;
    float:left;
    width: 50%;
    color:#FFFFFF;
}

*/