/* 
    Document   : mobmin.css
    Created on : Mar 6, 2011, 8:42:01 PM
    Author     : w0ndr
    Description:
        Purpose of the stylesheet follows.
*/

/* 
   TODO customize this sample style
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/
ul.pk {
	border: 1px dotted white;
}
ul.lower {
	margin: 0px 10px;
}

ul.errors li{
	color: red !important;
	font-size: 12px;
	font-weight: 700;
	text-align: center;
	text-shadow:  0px 1px 0px;
}
.floaty {
	-webkit-border-radius: 10px;
	-webkit-box-shadow: rgba(0,0,0, .5) 0px 1px 1px;
	width: 90%;
	margin: 0 5%;
	padding: 5px 10px;
	background: rgba(255,255,255,.7);
	color: red;
}
/*
root { 
    display: block;
}

body {
    font-size: 14px;
    font-family: sans-serif;
    font-weight: bold;
    color: #FFFFFF;
}

ul li span {
    display: block;
    float:left;
    width: 50%;
    color:#FFFFFF;
}

*/