<% content_for :back do %>
	<%= link_to "Back", nil, :class => "back" %>
<% end %>
<% content_for :header, "Tables in #{@database}" %>
<% content_for :logout do %>
	<%= link_to "Logout", {:controller => "mobmin", :action => "logout"}, :class => "button flip", :id =>"infoButton" %>
<% end %>

<ul class="rounded">
  <% @tables.each{|table| %>
  <li class="arrow">
    <%= link_to "#{table.first}", :action => 'table_detail', :table => table.first %>
  </li>
  <% } %>
</ul>