<% content_for :back do %>
	<%= link_to "Back", {:action => "show_databases"}, :class => "myBack button fade" %>
<% end %>
<% content_for :header, "#{@database}" %>
<% content_for :logout do %>
	<%= link_to "Logout", {:controller => "mobmin", :action => "logout"}, :class => "button flip", :id =>"infoButton" %>
<% end %>

<ul class="rounded">
  <% @tables.each{|table| %>
  <li class="arrow">
    <%= link_to "#{table.first}", :action => 'table_detail', :table => table.first %>
  </li>
  <% } %>
</ul>