<% content_for :back do %>
	<%= link_to "Back", {:action => "index"}, :class => "myBack button fade" %>
<% end %>
<% content_for :header, "Databases overview" %>
<% content_for :logout do %>
	<%= link_to "Logout", {:controller => "mobmin", :action => "logout"}, :class => "button flip", :id =>"infoButton" %>
<% end %>

<ul class="rounded">
  <% @databases.each{|db| %>
    <li class="arrow">
      <%= link_to db.first, :action => 'show_tables', :db => db.first %>
    </li>
  <% } %>
</ul>