<% content_for :header, "Table detail" %>

<ul class="rounded">
  <li class="arrow"><%= link_to "Show table information", :action => "table_info" %></li>
  <li class="arrow"><%= link_to"Show table data", :action => "show_data" %></li>
  <li class="arrow"><a href="">Insert data</a></li>
</ul>
